.button {
    border-radius: 20px;
    border: 4px solid coral;

    font-weight: 600;
    color: coral;

    padding: 16px 24px;

    transition: .3s;

    cursor: pointer;

    background-color: #ffffff;

    &:hover {
        background-color: coral;
        color: #ffffff;
    }
}