// subject
.add-user__subject {
    text-align: center;

    margin-bottom: 20px;
}

// form
.add-user__form {
    display: flex;
    flex-direction: column;

    background-color: rgba(gray, 0.1);

    border: 4px solid coral;
}

// fieldset
.add-user__fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;

    border-bottom: 4px solid coral;
}

.add-user__legend {
    font-size: 24px;

    font-weight: 600;

    padding: 20px 0 0 40px;
}

.add-user__form-container {
    display: flex;

    gap: 20px;
}

.add-user__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-user__sub-wrapper {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-user__entry {
    display: flex;
    flex-direction: column;
    gap: 10px
}

// label
.add-user__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    font-weight: 600;
}

// custom labels
.label_checkbox {
    & > :nth-child(1) { order: 2 }
    & > :nth-child(2) { order: 1 }
}

// input
.add-user__input {
    width: 240px;

    padding: 10px 20px;

    background-color: #ffffff;

    border-radius: 20px;
    border: 2px solid coral;

    transition: .3s;

    &:focus {
        border-color: yellow;
    }
}

// custom inputs
.input_checkbox { width: auto }

.add-user__catch {
    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 12px;
    color: red;
}

.add-user__buttons {
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

// buttons
[type=reset] {
    border-color: red;

    color: red;

    &:hover {
        background-color: red;
    }
}

[type=submit] {
    border-color: green;

    color: green;

    &:hover {
        background-color: green;
    }
}