.bezier {

}

.bezier__canvas-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.bezier__canvas {
    border: 10px solid black;
}