.cube {
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cube__area {
    width: 800px;
    height: 800px;

}

.cube__buttons {
    display: flex;
    align-items: center;
    gap: 20px
}