html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2em;
  margin: 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15; /* 1 */
  margin: 0;
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*, :after, :before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: 0;
  outline: 0;
  background-color: transparent;
  box-sizing: border-box;
}

.button {
  border-radius: 20px;
  border: 4px solid coral;
  font-weight: 600;
  color: coral;
  padding: 16px 24px;
  transition: 0.3s;
  cursor: pointer;
  background-color: #ffffff;
}
.button:hover {
  background-color: coral;
  color: #ffffff;
}

.index-subject {
  font-size: 32px;
}

.page {
  width: 1250px;
  flex-grow: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}
@media (max-width: 1250px) {
  .page {
    width: 100%;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: coral;
}

.header-hide {
  display: none;
}

.header__nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.header__nav-link {
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
  transition: 0.3s;
}
.header__nav-link:hover {
  opacity: 0.7;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.loader__spinner {
  width: 64px;
  height: 64px;
  position: relative;
  animation: rotate 1.5s ease-in infinite alternate;
}
.loader__spinner::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  color: coral;
  background: currentColor;
  width: 64px;
  height: 32px;
  border-radius: 0 0 50px 50px;
}
.loader__spinner::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 10%;
  background: #ffffff;
  width: 8px;
  height: 64px;
  animation: rotate 1.2s linear infinite alternate-reverse;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.error {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.error__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffff;
}

.error__subject {
  font-weight: 600;
  font-size: 24px;
}

.error__description {
  font-size: 18px;
}

.error__btns {
  display: flex;
  justify-content: flex-end;
}

.main__subject {
  text-align: center;
  margin-bottom: 20px;
}

.main__button {
  align-self: center;
  margin-bottom: 40px;
}

.main__user-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  border: 4px solid coral;
  border-radius: 20px;
}

.main-user-card__info {
  display: flex;
  gap: 20px;
}

.main-user-card__user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 4px solid coral;
  padding: 18px;
}
.main-user-card__user-icon svg {
  width: 64px;
  height: 64px;
}

.main-user-card__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 0;
}

.main-user-card__head {
  font-weight: 600;
}
.main-user-card__head:first-letter {
  text-transform: capitalize;
}

.main-user-card__item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.main-user-card__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.storage__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.storage-user {
  background-color: rgba(128, 128, 128, 0.1);
  border: 4px solid coral;
}
.storage-user:last-child {
  border-bottom: 0;
}

.storage__subject {
  text-align: center;
}

.storage__button {
  align-self: center;
  margin-top: 20px;
}

.storage__none-users-message {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

.storage-user-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 4px solid coral;
}

.storage-user-card__info-list {
  display: flex;
  padding: 20px;
  border-bottom: 4px solid coral;
}

.storage-user-card__sign {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid coral;
  border-radius: 20px;
  background-color: #ffffff;
}
.storage-user-card__sign svg {
  width: 65px;
  height: 65px;
}

.info-chunk {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-chunk__piece {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-chunk__head {
  font-weight: 600;
  font-size: 20px;
}
.info-chunk__head:first-letter {
  text-transform: capitalize;
}

.add-user__subject {
  text-align: center;
  margin-bottom: 20px;
}

.add-user__form {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.1);
  border: 4px solid coral;
}

.add-user__fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-bottom: 4px solid coral;
}

.add-user__legend {
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0 0 40px;
}

.add-user__form-container {
  display: flex;
  gap: 20px;
}

.add-user__wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-user__sub-wrapper {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-user__entry {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-user__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.label_checkbox > :nth-child(1) {
  order: 2;
}
.label_checkbox > :nth-child(2) {
  order: 1;
}

.add-user__input {
  width: 240px;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid coral;
  transition: 0.3s;
}
.add-user__input:focus {
  border-color: yellow;
}

.input_checkbox {
  width: auto;
}

.add-user__catch {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  color: red;
}

.add-user__buttons {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

[type=reset] {
  border-color: red;
  color: red;
}
[type=reset]:hover {
  background-color: red;
}

[type=submit] {
  border-color: green;
  color: green;
}
[type=submit]:hover {
  background-color: green;
}

.game {
  flex-grow: 1;
  display: flex;
}

.game__container {
  max-width: 100vw;
  max-height: 100vh;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bezier__canvas-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.bezier__canvas {
  border: 10px solid black;
}

.cube {
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cube__area {
  width: 800px;
  height: 800px;
}

.cube__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

/*# sourceMappingURL=full.css.map */
